/* Root селектор — це селектор, який вибирає абстрактний
кореневий тег, в якому знаходиться вже інший HTML код */

:root {
  background-color: rgb(219, 197, 219);
}
html {
  max-width: 720px;

  background-color: aquamarine;
}

body {
  background: #fff;
}

/* Глобальний селектор — це селектор, який вибирає всі теги
на сторінці. */

* {
  color: red;
}

/* Селектор тегу — це селектор, який надає стилі для певного тегу,
який використовується у будь-якому місці HTML документа */

h1 {
  color: green;
}

/* Селектор класу — це селектор, який надає стилі для всіх тегів,
які мають певний клас, який був вказаний у селекторі

Селектор класу починається з крапки (".") і за ним слідує ім'я */

.box {
  background-color: rgb(255, 255, 255);
}

/* Селектор ідентифікатора — це селектор, який надає стилі для
всіх тегів, які мають певний ідентифікатор, який був вказаний у
селекторі

Селектор класу починається з решітки ("#") і за ним слідує ім'я

В HTML для встановлення ідентифікатора потрібно вказати
атрибут id */

#user {
  background-color: rgb(255, 255, 255);
}

/* У CSS є можливість використовувати декілька селекторів, до
яких треба надати певний набір CSS властивостей

Для цього слід вказати селектори через кому (“,”) */

h1,
h2,
button.button#button {
  color: rgb(0, 217, 25);
}

#user,
.user {
  color: blue;
}

/* Дочірній селектор — це селектор, який надає стилі для всіх
тегів, які є дочірніми тегами головного тегу

Для цього слід вказати знак більше (“>”), щоб показати
відношення між батьківським та дочірнім тегом */

.box > p {
  color: rgb(197, 140, 240);
}

footer > .user {
  color: rgb(89, 20, 20);
}

/* Селектор нащадка — це селектор, який надає стилі для всіх
тегів, які є нащадками головного тегу

Для цього вкажіть у селекторі через пробіл розташування тегу,
або ви можете вказати два рази знак більше (“>>”) */

footer em {
  color: rgb(217, 177, 0);
}

/* Сестринський селектор — це селектор, який надає стилі
для сестринського тегу, який йде одразу після основного тегу

Для цього слід вказати плюс (“+”), щоб показати
відношення між основним тегом та сестринським тегом */

h1 + p {
  background: black;
}

/* Сусідський селектор — це селектор, який надає стилі
для всіх сусідніх тегів, які йдуть після основного тегу

Для цього слід вказати тильду (“~”), щоб показати
відношення між основним тегом та сусідніми тегами */

h1 ~ em {
  color: coral;
}
